@import "tailwindcss";

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

/* Custom Scrollbar Styling (MOVEO Theme) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#444, #222);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e50914;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
